body {
    font-family: Arial;
    background-color: rgb(252, 252, 227);
}

p {
    font-family: Arial;
    font-size: 20px;
    text-align: left;
}

h1 {
    text-align: center;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

button {
    width: 200px;
    height: 50px;
    font-family: Arial;
    font-size: 20px; 
    border-radius: 25cm;
}

table {
    border: 2px solid black;
    background-color: white;
}

th {
    border: 2px solid black;
}

td {
    border: 2px solid black;
}

caption {
    margin: 2px;
    border: 2px solid;
    background-color: white;
}

.container {
    position: relative;
}

.horizontal-center {
    text-align: center;
}